/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */
body{
font-family: 'Lato', sans-serif;
}
.container > h1 {
    text-align: center;
    font-size: 22px;
    background-color: #333;
    padding: 20px 0;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
}
.form-holder form {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #eaeaea;
    margin-top: 20px;
}
.form-holder label{
        clear: both;
    display: block;
    text-align: left;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 14px;
}
.form-holder input{
          clear: both;
    display: block;
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    height: 23px;
}
.form-holder button{
    text-align: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.selectentities {
    padding: 5px;
    margin-bottom: 20px;
    outline-color: lightgrey;
    outline-style: outset;
}
.selectentities option{
    padding: 2px;
    font-size: 14px;
    font-weight: bold!important;
}
.form-holder.special-buttons button{
    width: 172px;
}